    #background{
      background-color: rgb(0, 0, 0);
    }
    * {
      font-family: 'Kosugi Maru','Scheherazade','Kumbh Sans','Courier Prime','Alata', sans-serif !important;
    }
    #infoBar{
      /* background-color: white; */
      color: black;
      /* border-top: 5px solid black; */
      border-bottom: 3px solid black;
      /* text-decoration: underline; */
      font-size: 25px;
      padding: 10px;
      /* padding-top: 10px; */
      text-align: center;
      /* font-size: x-large; */
    }
    body{
      padding: 0px ;
      margin: 0px ;
      /* background: var(--color-main); */
      overflow: hidden;
    }
    #button-exit{
      position:absolute; 
      left: 20px;
       border: 5px dashed black;
       height: auto;
       transition: .2s;
       font-weight: bold;
    }
    #mondrian-config-menu {
      position: absolute; 
      top: 10%; 
      left: 10px;
      right: 10px; 
      background: rgba(200,200,200,0.8);
       padding: 20px; 
      border-radius: 5px; 
      z-index: 100;
      max-width: 500px;
      display:none;
    }
    #cameraLockStatus{display: none;}
    /* Small screens: full width */
    @media (max-width: 699px) {
      #mondrian-config-menu {
        padding: 5px; 
        margin: 5px;
        left: 10px;
        right: 10px;
        margin: 0 auto;
        /* width: 100%; */
        /* max-width: 100%; */
        border-radius: 0;
      }
    }
    #button-config{
      position:absolute; 
       right: 20px;
       
       border: 5px dashed black;
       height: auto;
       transition: .2s;
       font-weight: bold;
    }
    .button-config_g{
      position:absolute; 
       right: 10px;
       margin-top: 10px;
       padding: 5px;
       border: 5px dashed rgb(0, 0, 0);
       height: auto;
       transition: .2s;
       font-weight: bold;
    }
    #button-exit:hover{
      border-radius: 10px;
    }
  