html, body {
  height: 100%;
  background: #000;
}

#background {
  overflow: hidden;
  background: #000;
}

#vis > svg {
  display: block;
  touch-action: none;
}

#vis svg [data-innerlight-shape] {
  pointer-events: visiblePainted;
}
